body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9ce0f7;
    background-size: cover;
    background-attachment: fixed;
    color: #f3eeee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(32, 10, 10, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #030303;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.actions {
    display: flex;
    gap: 10px;
}


.actions a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.actions a.edit {
    background-color: #2196F3;
}

.actions a.edit:hover {
    background-color: #1976D2;
}


.actions a.delete {
    background-color: #f44336;
}

.actions a img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}


